@{
    ViewData["Result"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/Result_Subject_Class.css">
</head>
<body>
    <div class="container">
        <div class="container_subject">
            <div class="header_subject">
                <h2>
                    VIEW RESULT OF STUDENT
                </h2>
            </div>
            <div class="body_subject">
                <div class="content_subject">
                <table>
                    <thead>
                        <tr>
                            <th>ID STUDENT</th>
                            <th>ID CLASS</th>
                            <th>NAME STUDENT</th>
                            <th>NAME SUBJECT</th>
                            <th>Test Score 1st</th>
                            <th>Test Score 2nd</th>
                            <th>Final Grade</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var result in Model)
                        {
                            <tr>
                                <td>@result.StudentId</td>
                                <td>@result.ClassId</td>
                                <td>@result.Fullname</td>
                                <td>@result.SubjectId</td>
                                <td>@result.Testscore1st</td>
                                <td>@result.Testscore2nd</td>
                                <td>@result.FinalGrade</td>
                            </tr>
                        }
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>